# PLA 算法 perceptron Hypothesis Set

## 十分钟熟悉pandas

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])
#创建一个series
# np.nan Nah空值

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

利用数组，创建一个DataFrame

In [4]:
dates = pd.date_range('20181002', periods=6)
#产生时间序列data_range.

In [5]:
dates

DatetimeIndex(['2018-10-02', '2018-10-03', '2018-10-04', '2018-10-05',
               '2018-10-06', '2018-10-07'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list('ABCD'))

In [7]:
df

                   A         B         C         D
2018-10-02  1.064473 -1.567862  0.168697  0.535627
2018-10-03  0.299244 -0.718623  0.356511  1.885957
2018-10-04 -0.109833  0.415351  0.350937  0.068331
2018-10-05 -1.869260  0.441762 -1.020656  0.387755
2018-10-06 -0.725324  0.122176  0.289968  0.838419
2018-10-07 -0.469505  0.968887  1.162312  1.700180

通过字典(dict)传入的对象而创建的DataFrame可以转为series样式：

In [8]:
df2 = pd.DataFrame({'A':1,
                                   'B':pd.Timestamp('20181002'),
                                   'C':pd.Series(1, index = list(range(4)), dtype='float32'),
                                   'D':np.array([3]*4, dtype = 'int32'),
                                   'E':pd.Categorical(["test", "train", "test", "train"]),
                                   'F':'foo'})

In [9]:
df2.A

0    1
1    1
2    1
3    1
Name: A, dtype: int64

In [10]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df.head(2)
# 顶部行的数据

                   A         B         C         D
2018-10-02  1.064473 -1.567862  0.168697  0.535627
2018-10-03  0.299244 -0.718623  0.356511  1.885957

In [12]:
df.tail(3)
# 尾部行的数据

                   A         B         C         D
2018-10-05 -1.869260  0.441762 -1.020656  0.387755
2018-10-06 -0.725324  0.122176  0.289968  0.838419
2018-10-07 -0.469505  0.968887  1.162312  1.700180

In [13]:
df.index

DatetimeIndex(['2018-10-02', '2018-10-03', '2018-10-04', '2018-10-05',
               '2018-10-06', '2018-10-07'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df.values

array([[ 1.06447347, -1.56786249,  0.16869698,  0.535627  ],
       [ 0.29924415, -0.71862298,  0.35651093,  1.88595744],
       [-0.10983288,  0.41535057,  0.35093742,  0.06833087],
       [-1.86926043,  0.441762  , -1.020656  ,  0.38775527],
       [-0.72532449,  0.122176  ,  0.28996765,  0.83841919],
       [-0.46950452,  0.96888682,  1.16231158,  1.70018037]])

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.301701 -0.056385  0.217961  0.902712
std    0.992899  0.924865  0.702917  0.735253
min   -1.869260 -1.567862 -1.020656  0.068331
25%   -0.661369 -0.508423  0.199015  0.424723
50%   -0.289669  0.268763  0.320453  0.687023
75%    0.196975  0.435159  0.355118  1.484740
max    1.064473  0.968887  1.162312  1.885957

In [17]:
df.T

   2018-10-02  2018-10-03  2018-10-04  2018-10-05  2018-10-06  2018-10-07
A    1.064473    0.299244   -0.109833   -1.869260   -0.725324   -0.469505
B   -1.567862   -0.718623    0.415351    0.441762    0.122176    0.968887
C    0.168697    0.356511    0.350937   -1.020656    0.289968    1.162312
D    0.535627    1.885957    0.068331    0.387755    0.838419    1.700180

In [18]:
df

                   A         B         C         D
2018-10-02  1.064473 -1.567862  0.168697  0.535627
2018-10-03  0.299244 -0.718623  0.356511  1.885957
2018-10-04 -0.109833  0.415351  0.350937  0.068331
2018-10-05 -1.869260  0.441762 -1.020656  0.387755
2018-10-06 -0.725324  0.122176  0.289968  0.838419
2018-10-07 -0.469505  0.968887  1.162312  1.700180

In [19]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2018-10-02  0.535627  0.168697 -1.567862  1.064473
2018-10-03  1.885957  0.356511 -0.718623  0.299244
2018-10-04  0.068331  0.350937  0.415351 -0.109833
2018-10-05  0.387755 -1.020656  0.441762 -1.869260
2018-10-06  0.838419  0.289968  0.122176 -0.725324
2018-10-07  1.700180  1.162312  0.968887 -0.469505

In [20]:
df.sort_values(by='B')

                   A         B         C         D
2018-10-02  1.064473 -1.567862  0.168697  0.535627
2018-10-03  0.299244 -0.718623  0.356511  1.885957
2018-10-06 -0.725324  0.122176  0.289968  0.838419
2018-10-04 -0.109833  0.415351  0.350937  0.068331
2018-10-05 -1.869260  0.441762 -1.020656  0.387755
2018-10-07 -0.469505  0.968887  1.162312  1.700180

In [21]:
df['A']

2018-10-02    1.064473
2018-10-03    0.299244
2018-10-04   -0.109833
2018-10-05   -1.869260
2018-10-06   -0.725324
2018-10-07   -0.469505
Freq: D, Name: A, dtype: float64

In [22]:
df[0:3]

                   A         B         C         D
2018-10-02  1.064473 -1.567862  0.168697  0.535627
2018-10-03  0.299244 -0.718623  0.356511  1.885957
2018-10-04 -0.109833  0.415351  0.350937  0.068331

In [29]:
df.loc['20181002':'20181004']

                   A         B         C         D
2018-10-02  1.064473 -1.567862  0.168697  0.535627
2018-10-03  0.299244 -0.718623  0.356511  1.885957
2018-10-04 -0.109833  0.415351  0.350937  0.068331

In [30]:
df.loc['20181002']

A    1.064473
B   -1.567862
C    0.168697
D    0.535627
Name: 2018-10-02 00:00:00, dtype: float64

In [31]:
df.loc[:, ['A', 'B']]

                   A         B
2018-10-02  1.064473 -1.567862
2018-10-03  0.299244 -0.718623
2018-10-04 -0.109833  0.415351
2018-10-05 -1.869260  0.441762
2018-10-06 -0.725324  0.122176
2018-10-07 -0.469505  0.968887

In [36]:
df.loc['20181002', ['A', 'B']]

A    1.064473
B   -1.567862
Name: 2018-10-02 00:00:00, dtype: float64

In [37]:
df.loc['20181002', 'A']

1.0644734663596784

In [38]:
df.iloc[3]

A   -1.869260
B    0.441762
C   -1.020656
D    0.387755
Name: 2018-10-05 00:00:00, dtype: float64

In [41]:
df.iloc[0:3, 0:2]

                   A         B
2018-10-02  1.064473 -1.567862
2018-10-03  0.299244 -0.718623
2018-10-04 -0.109833  0.415351

In [42]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2018-10-03  0.299244  0.356511
2018-10-04 -0.109833  0.350937
2018-10-06 -0.725324  0.289968

In [43]:
df.iloc[1:3,:]

                   A         B         C         D
2018-10-03  0.299244 -0.718623  0.356511  1.885957
2018-10-04 -0.109833  0.415351  0.350937  0.068331

In [44]:
df.iloc[1,1]

-0.7186229752290938

In [45]:
df[df.A>0]

                   A         B         C         D
2018-10-02  1.064473 -1.567862  0.168697  0.535627
2018-10-03  0.299244 -0.718623  0.356511  1.885957

In [46]:
df[df>0]

                   A         B         C         D
2018-10-02  1.064473       NaN  0.168697  0.535627
2018-10-03  0.299244       NaN  0.356511  1.885957
2018-10-04       NaN  0.415351  0.350937  0.068331
2018-10-05       NaN  0.441762       NaN  0.387755
2018-10-06       NaN  0.122176  0.289968  0.838419
2018-10-07       NaN  0.968887  1.162312  1.700180

In [47]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

In [48]:
df2

                   A         B         C         D      E
2018-10-02  1.064473 -1.567862  0.168697  0.535627    one
2018-10-03  0.299244 -0.718623  0.356511  1.885957    one
2018-10-04 -0.109833  0.415351  0.350937  0.068331    two
2018-10-05 -1.869260  0.441762 -1.020656  0.387755  three
2018-10-06 -0.725324  0.122176  0.289968  0.838419   four
2018-10-07 -0.469505  0.968887  1.162312  1.700180  three

In [52]:
df2[df2['E'].isin(['two', 'four'])] #利用E中选择对数据进行筛选

                   A         B         C         D     E
2018-10-04 -0.109833  0.415351  0.350937  0.068331   two
2018-10-06 -0.725324  0.122176  0.289968  0.838419  four

In [54]:
#赋值
s1 = pd.Series([1,2,3,4,5,6], index = pd.date_range('20181002', periods = 6))

In [55]:
s1

2018-10-02    1
2018-10-03    2
2018-10-04    3
2018-10-05    4
2018-10-06    5
2018-10-07    6
Freq: D, dtype: int64

In [56]:
df['F'] = s1

In [57]:
df

                   A         B         C         D  F
2018-10-02  1.064473 -1.567862  0.168697  0.535627  1
2018-10-03  0.299244 -0.718623  0.356511  1.885957  2
2018-10-04 -0.109833  0.415351  0.350937  0.068331  3
2018-10-05 -1.869260  0.441762 -1.020656  0.387755  4
2018-10-06 -0.725324  0.122176  0.289968  0.838419  5
2018-10-07 -0.469505  0.968887  1.162312  1.700180  6

In [58]:
df.at['20181002', 'A'] = 0

In [59]:
df

                   A         B         C         D  F
2018-10-02  0.000000 -1.567862  0.168697  0.535627  1
2018-10-03  0.299244 -0.718623  0.356511  1.885957  2
2018-10-04 -0.109833  0.415351  0.350937  0.068331  3
2018-10-05 -1.869260  0.441762 -1.020656  0.387755  4
2018-10-06 -0.725324  0.122176  0.289968  0.838419  5
2018-10-07 -0.469505  0.968887  1.162312  1.700180  6

In [60]:
df.iat[0,1] = 0

In [61]:
df

                   A         B         C         D  F
2018-10-02  0.000000  0.000000  0.168697  0.535627  1
2018-10-03  0.299244 -0.718623  0.356511  1.885957  2
2018-10-04 -0.109833  0.415351  0.350937  0.068331  3
2018-10-05 -1.869260  0.441762 -1.020656  0.387755  4
2018-10-06 -0.725324  0.122176  0.289968  0.838419  5
2018-10-07 -0.469505  0.968887  1.162312  1.700180  6

In [62]:
df.loc[:, 'D'] = np.array([5]*len(df))

In [63]:
df

                   A         B         C  D  F
2018-10-02  0.000000  0.000000  0.168697  5  1
2018-10-03  0.299244 -0.718623  0.356511  5  2
2018-10-04 -0.109833  0.415351  0.350937  5  3
2018-10-05 -1.869260  0.441762 -1.020656  5  4
2018-10-06 -0.725324  0.122176  0.289968  5  5
2018-10-07 -0.469505  0.968887  1.162312  5  6

In [64]:
df2 = df.copy()
df2[df2>0] = -df2

In [65]:
df2

                   A         B         C  D  F
2018-10-02  0.000000  0.000000 -0.168697 -5 -1
2018-10-03 -0.299244 -0.718623 -0.356511 -5 -2
2018-10-04 -0.109833 -0.415351 -0.350937 -5 -3
2018-10-05 -1.869260 -0.441762 -1.020656 -5 -4
2018-10-06 -0.725324 -0.122176 -0.289968 -5 -5
2018-10-07 -0.469505 -0.968887 -1.162312 -5 -6

# 缺失数据处理